beautifulsoup4==4.12.3
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorzero==2.0
feedparser==6.0.11
fuzzywuzzy==0.18.0
google-api-core==2.19.2
google-auth==2.34.0
google-cloud-texttospeech==2.17.2
googleapis-common-protos==1.65.0
gpiozero==2.0.1
grpcio==1.66.1
grpcio-status==1.66.1
idna==3.8
joblib==1.4.2
lgpio==0.2.2.0
lxml==5.3.0
nltk==3.9.1
pigpio==1.78
proto-plus==1.24.0
protobuf==5.28.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
regex==2024.9.11
requests==2.32.3
RPi.GPIO==0.7.1
rsa==4.9
sgmllib3k==1.0.0
soupsieve==2.6
tqdm==4.66.5
urllib3==2.2.3
